{% extends 'base.html' %}
{% block 'mainbody' %}

    <!-- Setting UP ID -->
 <!-- SECTION - Sidebar for medium and large screens -->
 {% include "partials/root/sidebar.html" %}
 <main>

  
{% if user_profile.gender == '' %} 
{% include "partials/root/userprofilesetup/useridauth.html" %}  
   {% else %}  
   <br><br>
   
      {% include "partials/root/dashboard/setupurlform.html" %} 
     
  
 
   
  
    
   {% endif %}
     
   
 
    
    
    
</main>  

{% endblock 'mainbody' %} 
{% block 'js' %} 
<script> 
</script>
{% endblock 'js' %}     