{% extends 'base.html' %}
{% block 'mainbody' %}

<style>
  .g-recaptcha {
    transform:scale(0.8);transform-origin:0;-webkit-transform:scale(0.8);
  transform:scale(0.8);-webkit-transform-origin:0 0;transform-origin:0 0
  }
  @media only screen and (max-width: 700px){
    .g-recaptcha{
      transform:scale(0.75);transform-origin:0;-webkit-transform:scale(0.75);
  transform:scale(0.75);-webkit-transform-origin:0 0;transform-origin:0 0
  } 
  }
  </style>
{% include "partials/root/sidebar.html" %}
 <br><br><br>
<div class="container">
<div class="container">
<div class="container">
<div class="container">

<form  id="regform" method="post" class=" card-panel grey lighten-5" style="position: relative;">{% csrf_token %}
  <br>
  <h4 id="statrelativetitle" class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-4px;left: 50px;right: 50px;padding: 5px 0px;">
    <i class="material-icons ">person_add </i> Register
  </h4>
  <div style="margin-top: 8px;"> 
    <div class="input-field">
      <input name="name" id="name" type="text" min="8" class="validate" required>
      <label for="name">Username</label>
    </div> 
  
  
    <div class="input-field">
      <input name="email" id="email" type="text" class="validate" required>
      <label for="email">Email</label>
    </div> 
    <div class="input-field">
      <input name="password" id="password" type="text" class="validate" required>
      <label for="password">Password</label>
    </div>  
    
<!--     
    <div >
      <div  class="g-recaptcha" data-sitekey="6LedltEZAAAAAKLub23SJYdH2ohBBQ35ldOXJHxp"  data-callback="verifyCaptcha"></div>
    <div id="g-recaptcha-error"></div>
    </div> -->

  </div><br>
  
  <input type="submit" style="width: 100%;" value="  Register  " class="btn gradient1">
</form>
  

</div>
</div>
</div>
</div>

{% endblock %}

{% block 'js' %}
<script> 
$('#regform').submit(function(event){
  if($('#name').val().length<=8){
    event.preventDefault()
    swal('Please !', 'Select a name of minimum length of 8', 'info')
  }else if($('#password').val().length<=8){
    event.preventDefault()
    swal('Please !', 'Select a password of minimum length of 8', 'info')
  }

})
</script>
{% endblock 'js' %}