
{% extends 'base.html' %}
{% block 'mainbody' %}
<!-- Setting UP ID -->
<!-- SECTION - Sidebar for medium and large screens -->
{% include "partials/root/sidebar.html" %}
<!-- SECTION - USER PROFILE -->
<main>
    <!-- SECTION - USERID_AUTH -->
    {% if user_profile.gender == '' %} 
    {% include "partials/root/userprofilesetup/useridauth.html" %}
    <!-- SECTION - PROFILE_CARD -->
    {% else %} 
    <br><br>
    <div style="position: relative" >
        <div class="" style="position: relative;">
        <div class="" style="position: relative;margin: 0px 20px;">
          <div class=" card-panel  " style="margin: 0px;padding-left: 0px; padding-right: 0px;">
            <!-- BOX HEADING -->
            
            {% if user_profile.current_packet_completed %}
            <span id="grabpackettitle" class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-30px;left: 50px;right: 50px;padding: 5px 10px;">Grab Links Packet</span>
            {% else %}
            <span class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-30px;left: 50px;right: 50px;padding: 5px 10px;">Complete Links Packet</span>
            {% endif %}
            
            <br>    

            
            {% if user_profile.current_packet_completed %}
                <!-- SECTION NO.1 FOR GRAB LINKS FORM -->
                <!-- GRAB LINKS FORM -->
                <div id="grabpacketdiv" style="display: flex;justify-content: center;align-items: center;padding: 0px 10px !important;">
                <form id="grabpacketform" style="padding: 0px 20px !important;">
                    <div class="input-field" style="width: 200px;">
                        <select> 
                        <option style="color: red !important;" value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        </select>
                        <label>Grab Links</label>
                    </div>  
                    <div> <br><br><br>
                        <button style="width: 200px;"  class="btn grey gradient1 ">Grab Links Packet</button>
                    </div> 
                </form> 
                </div>
                <!-- END GRAB LINK FORM -->
            {% else %} 
                <!-- SECTION NO.2  DISPLAYING LINKS PACKET -->
                <!-- GRAB LINKS FORM -->
                <div id="grabbedlinks"> 
                {% for alloted_link in alloted_links %} 
                    <!-- FOR VISITED LIKNS -->
                    {% if alloted_link.visited %}
                        <div class="grey lighten-5 ">
                            <p class="green accent-4 "  style="padding: 0%;padding-left: 5px;display: block;font-size: 10vw;padding: 8px 15px 8px 20px;" >
                                <a href="{{alloted_link.grabbedlink}}" class="white-text" target="_blank">{{alloted_link.grabbedlink}}</a>   
                            </p>
                            <div class="divider" style="margin-top: 0px !important;"></div>   
                        </div>
                    <!-- FOR PENDING LINKS -->
                    {% else %}
                      <div class="grey lighten-5 ">
                            <span class="sidebaritems  " id="sidebaritems" style="padding: 0%;padding-left: 5px;display: block;font-size: 16px;padding: 8px 15px 8px 20px;" >
                                <a href="{{alloted_link.grabbedlink}}"  target="_blank">{{alloted_link.grabbedlink}}</a>   
                            </span>
                            <div class="divider" style="margin-top: 0px !important;"></div>   
                        </div>
                    {% endif %}
                    
                    
                    {% endfor %}
                </div>

            {% endif %} 
            <div id="grabbedlinks"> 


          </div>
        </div>
        </div>
    </div>
    </div>

   
 
    


    {% endif %}
</main>  
{% endblock 'mainbody' %} 
{% block 'js' %} 
<script> 
var capacity = ''
$('select').change(function(){
    capacity = $(this).val()
})
$('#grabpacketform').submit(function(event){
    event.preventDefault()
    $.ajax({
        url:'/dashboard/grablinkspacket',
        data:{'capacity':capacity},
        success:function(data){
            if(data.alloted==true){
                for(y=0;y<data.alloted_links.length;y++){ 
                $('#grabbedlinks').append(` 
                <div class="divider" style="margin-top: 0px !important;"></div> 
                <div class="grey lighten-5 ">
                  <span class="sidebaritems" id="sidebaritems" style="padding: 0%;padding-left: 5px;display: block;font-size: 16px;padding: 8px 15px 8px 20px;" >
                        <a href="${data.alloted_links[y]}" >${y+1} ${data.alloted_links[y]}</a>   
                    </span>
                        <div class="divider" style="margin-top: 0px !important;"></div>   
                </div>  
                `) 
                $('#grabpacketdiv').hide()
                $('#grabpackettitle').html('Complete Links Packet')
            }
            }else if(data.alloted==false){
                alert("Please complete you's current Link Packet to grab more.")
            }
        }
    })
})
</script>
{% endblock 'js' %}     