{% extends 'base.html' %}
{% block 'mainbody' %}
<style> 
ul#statisticsdataul p{
    line-height: 0px !important;
}
</style>
    <!-- Setting UP ID -->
<!-- SECTION - Sidebar for medium and large screens -->
{% include "partials/root/sidebar.html" %}

<!-- SECTION - USER PROFILE -->
<main> 
    <!-- SECTION - USERID_AUTH -->
    {% if user_profile.gender == '' %} 
    {% include "partials/root/userprofilesetup/useridauth.html" %}
    <!-- SECTION - PROFILE_CARD -->
    {% else %} 
    
    <div class=" " style="padding: 20px;">
        
    <div class="statcardholder row grey-text text-darken-2" >
        <div class="col m6 l6 s12 statcard" style="padding:0px 30px;position: relative;">
            <div class="z-depth-2 " style="height: 250px;padding:1px;border-radius:15px" >
                <h4 id="statrelativetitle" class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-4px;left: 50px;right: 50px;padding: 5px 0px;">Configured Links</h4> 
                 <h1 class="center statcontentconfiguredlinks" style="font-size: 120px;margin-top: 25px;"><b>{{total_configured_urls}}</b></h1>
            </div>
        </div> 
        
        
        <div class="col m6 l6 s12 statcard"  style="padding:0px 30px;position: relative;">
            <div class="z-depth-2 " style="height: 250px;padding:1px;border-radius:15px; " >
                <h4 id="statrelativetitle" class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-4px;left: 50px;right: 50px;padding: 5px 0px;">Current Packet</h4>
                <!-- CONTENT -->
                <div style="padding: 0px 5%;"> 
                    <div style="margin: 0% !important;">
                        <ul id="statisticsdataul">
                            <p style="font-size: px;"><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> ID: {{ user_profile.current_packetID}}</p>
                            <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Completeion: {{user_profile.packetitemsvisited}} out of {{user_profile.current_packetlength}}</p>
                            <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Creation Date: {{user_profile.packet_creation_time}}</p>
                            
                            {% if user_profile.packetitemsvisited == user_profile.current_packetlength %}
                            <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Status: Completed</p>
                            {% else %}
                            <p><i style="font-size: 15px;" class="material-icons orange-text ">stop_circle</i> Status: Pending *</p>
                            {% endif %}
                                
                        </ul>
                        </p>
                    </div>  
                </div>


            </div>
        </div> 
        
         
        <div class="col m6 l6 s12 statcard"  style="padding:20px 30px;position: relative;">  
            <div class="z-depth-2 " style="height: 250px;padding:1px;border-radius:15px " >
                <h4  id="statrelativetitle" class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-4px;left: 50px;right: 50px;padding: 5px 0px;">Traffic Status</h4>
                

                <!-- CONTENT -->  
                <div style="padding: 0px 5%;">
                    <div style="margin: 0% !important;">
                        <ul id="statisticsdataul">
                            <p><i style="font-size: 15px;" class="material-icons orange-text ">stop_circle</i> Total successful jobs: {{user_profile.totalregisteredvisits}}</p>
                            <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Total claimed traffic: 140</p>
                            <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Total visits returned back: 89</p>
                            <!-- <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Lorem ipsum dolor sit amet.</p> -->
                        </ul>
                        </p>
                    </div>  
                </div>


            </div>
        </div> 
        
        
          
        <div class="col m6 l6 s12 statcard"  style="padding:20px 30px;position: relative;">  
            <div class="z-depth-2 " style="height: 250px;padding:1px;border-radius:15px; " >
                <h4  id="statrelativetitle" class="gradient1 center white-text z-depth-2" style="font-size: 30px;margin: 0px;position: absolute;top:-4px;left: 50px;right: 50px;padding: 5px 0px;">Remaining</h4>
                 <!-- CONTENT --> 
                 <div style="padding: 0px 5%;"> 
                    <div style="margin: 0% !important;">
                        <ul id="statisticsdataul">
                            <p><i style="font-size: 15px;" class="material-icons orange-text ">stop_circle</i> Total reserved tokens: {{user_profile.reserved_tokens}}</p>
                            <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Total Links in Queue: 43</p>
                            <!-- <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Lorem ipsum dolor sit amet.</p>
                            <p><i style="font-size: 15px;" class="material-icons green-text ">stop_circle</i> Lorem ipsum dolor sit amet.</p> -->
                           
                        </ul>
                        </p>
                    </div>  
                </div>
            </div>
        </div> 
        
    </div>
    </div>


    
    {% endif %}
</main>  

{% endblock 'mainbody' %} 
{% block 'js' %} 
<script> 
</script>
{% endblock 'js' %}     